//变量
@nav-bar-background-color: #f7f8fa;
@nav-bar-height: 38px;
@nav-bar-title-font-size: 15px;
// @nav-bar-background-color: @j_main_color;
// @nav-bar-title-text-color: white;
// @nav-bar-icon-color: white;
// @nav-bar-text-color: white;
@j_main_color:#1989fa;
@j_danger_color:#f56666;
@j_success_color: rgb(7,193,96);
@app_bg_color:rgb(240,242,245);
//函数
.flex(@j:center;@a:center;@w:nowrap;@d:row;@f:flex){
    display: @f;
    justify-content: @j;
    align-items: @a;
    flex-direction: @d;
    flex-wrap: @w;
}
.createBox(@w: 100%;@h: 100%; @box: content-box;@pos: static; @m: 0;@p: 0;@d:block;@b:none){
    width: @w;
    height: @h;
    box-sizing: @box;
    position: @pos;
    margin: @m;
    padding: @p;
    display: @d;
    border: @b;
}
.wh100(@w: 100%;@h: 100%;){
    width: @w;
    height: @h;
    position: relative;;
}
.textRowOverflow(@rows: 2){
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: @rows;
    -webkit-box-orient: vertical;
}
.border(@d:bottom){
    border-@{d}:1px solid #ebedf0;
}