@import url('~normalize.css');
#nprogress {
    @color: #ff5c5f;
    .peg {
        box-shadow: 0 0 10px @color, 0 0 5px darken(@color,20%) !important;
    }
    .bar {
        background: lighten(@color ,5%)!important;
        height: 4px !important;
    }
    .spinner-icon{
        border-top-color: @color !important;
        border-left-color:@color !important;
    }
}
[w100] {
    width:100%;
}

[bgless]{
    background: transparent !important;
}
[borderless]{
    border: none !important;
}
[paddingless]{
    padding: 0 !important;
}
[marginless]{
    margin: 0 !important;
}
a.blue-text{
    @c:#1989fa;
    color: @c;
    cursor: pointer;
    &:active{
        color: lighten(@c,30%);
        text-decoration: underline;
    }
}
.flex{
    .flex();
}
.erji-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 10;
}
.marginTop{
    margin-top: 10px;

}
.cell-group {
    .title {
        // font-weight: 600;
        font-size: 14px;
        line-height: 40px;
        height: 40px;
        padding-left: 20px;
        border-bottom: 1px solid #ebedf0;
        color: #646566;
    }

    .content {
        // height: 60px;;
    }
}
.bottom_saved_buttons {
    padding: 10px;
    background: white;
    right: 0;
}