@import url('~normalize.css');
@import url('./assets/animation.less');
@import url('./assets/attribution.less');

#nprogress {
    @color: #029af8;
    .peg {
        box-shadow: 0 0 10px @color, 0 0 5px darken(@color,20%) !important;
    }
    .bar {
        background: lighten(@color ,5%)!important;
        height: 4px !important;
        z-index: 10000 !important;
    }
    .spinner-icon{
        border-top-color: @color !important;
        border-left-color:@color !important;
    }
}
[border-right],.border-right{
    position: relative;
    &::after{
        position: absolute;
        content: '';
        right: 0;
        top:50%;
        width: 1px ;
        display: block;
        height: 26px;
        background-color:rgb(235, 235, 235);
        margin-top: -13px;
        box-sizing: border-box;
    }
}
.blue-text{
    @c:#1989fa;
    color: @c;
    cursor: pointer;
    font-size: 90%;
    &:active{
        color: lighten(@c,20%);
    }
}
.erji-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 10;
}

.cell-group {
    .title {
        font-size: 14px;
        line-height: 40px;
        height: 40px;
        padding-left: 20px;
        border-bottom: 1px solid #ebedf0;
        color: #646566;
    }
    .content {
    }
}

.van-nav-bar__placeholder{
    height: 10vw !important;
}
.bottom_saved_buttons {
    padding: 10px;
    background: white;
    right: 0;
    border-top: 1px solid #eceef1;;
    padding-bottom: calc(constant(safe-area-inset-bottom) + 10px);
    padding-bottom: calc( env(safe-area-inset-bottom) + 10px);
    transform:translateZ(0)
}
.van-empty__bottom{
    font-size: 85%;
    margin-top: 10px !important;
    font-weight: 500;
    color: #777;
}
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }
::-webkit-scrollbar-thumb {
    background: rgb(193, 193, 193);
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgb(241, 241, 241);
}
[sanji-view]{
    z-index: 3000 !important;
}
[erji-view]{
    z-index: 2000 !important;
}


.van-button[vertical] {
    padding:0;
    .van-button__content{
        flex-direction: column;
        .van-button__text{
            white-space: nowrap;
            margin-left:0;
            font-size: 70%;
        }
    }
}

.hexiao-cell{
    line-height: 16px !important;
    padding: 8px 8px !important;
    .border(bottom);
    .money_date{
    .flex(@d:column;@a:flex-end;@f:inline-flex);
        .money{
            color: black
        }
    }
}
.bcdp-item {
    .flex(@j:flex-start;@a:flex-start);
    span {
        padding-right: 10px;
        position: relative;
        color: #323233;
        flex: none;
        &::after {
            content: '';
            width: 2px;
            height: 20px;
            background: rgba(128, 128, 128, 0.313);
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -10px;
        }
    }
    .input,input {
        border: none;
        padding-left: 10px;
        background: transparent;
        flex: 1;
        width: 170px;
        margin-right: 10px;
        &:empty::after{
            content: attr(placeholder);
            color: gray;
        }
    }
}
.apiError{
    width: fit-content !important;
    min-width: 80px !important;
    max-width: 80vw !important;
    min-height: 80px !important;
    max-height: 80vh !important;
    .van-toast__text{
        word-break: break-all;
        .textRowOverflow(18);
    }
}
.van-nav-bar{
    backdrop-filter: blur(2px);
}
.van-cell-group__title{
    padding: 8px 16px 8px !important;
}
.van-tabbar--fixed{
    // transform: translateZ(0);
}
.van-popup.popup-fullsize{
   width: 100%;
   height:100%;
   overflow:hidden;
}